<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/anaostashko/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="anaostashko" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>